.imagePlaceholder {
  background: var(--gray-5);
  border-radius: var(--radius-2);
  width: 100%;
  aspect-ratio: 16 / 9;
}

.imagePlaceholderSmall {
  background: var(--gray-5);
  border-radius: var(--radius-2);
  width: 100%;
  aspect-ratio: 4 / 3;
}
